body{ background-color: black;
}
h1{ font-size: 80px; font-family:copperplate; color:#7fc0ef; text-align: center;
}
h2{ font-size: 40px; font-family: copperplate; color:#7fc0ef;text-align: center; 
}
p{ font-size: 20px; font-family: cursive; color:#7fc0ef;text-align: center;}
